<div class="meter-table">
  <table>
    <thead>
      <tr>
        <th rowspan="2" class="left-header">MÔ HÌNH DỰ ĐOÁN</th>
        <th colspan="7" class="top-header">DỰ ĐOÁN CÁC NGÀY</th>
      </tr>
      <tr>
        <th *ngFor="let day of days" class="date-header">{{day}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of models">
        <td class="left-header">{{model.name}}</td>
        <td *ngFor="let value of model.values; let i = index" 
            [ngClass]="getValueClass(value)">
          {{value}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
