.header {
  background: #1976d2;
  color: #fff;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-title {
    font-size: 20px;
    font-weight: bold;
  }
   .search-wrapper {
    position: relative; // Thêm dòng này để icon căn theo input
    display: inline-block;
  }
  .header-search {
    border-radius: 50px;
    border: none;
    padding: 12px 40px;
    width: 220px;
    margin: 0 16px;
    margin-left: 500px;
    text-align: left;
  }
   .search-icon {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    color: #b0bec5;
    font-size: 22px;
    pointer-events: none;
  }
  .header-actions {
    display: flex;
    gap: 8px;
    .icon-btn {
      background: none;
      border: none;
      color: #ffffff;
      font-size: 22px;
      cursor: pointer;
    }
  }
}