<header class="header">
  <div class="header-title">Cảnh báo rò rỉ nước khu vực A</div>
  <div class="search-wrapper">
   <input class="header-search" type="text" placeholder="Tìm kiếm" [(ngModel)]="searchTerm" (input)="onSearch()" />
   <span class="material-icons search-icon">search</span>
  </div>
  <div class="header-actions">
    <button class="icon-btn"><span class="material-icons">notifications</span></button>
    <button class="icon-btn"><span class="material-icons">menu</span></button>
  </div>
</header>
