<div class="meter-section">
    <div class="meter-header">
      <div class="meter-header-title">Bảng theo dõi đồng hồ</div>
      <div class="meter-header-filter">
        
        <app-meter-filter
          [meters]="meters"
          [selectedMeter]="selectedMeter"
          [selectedDate]="selectedDate"
          (meterChange)="onMeterChange($event)"
          (dateChange)="onDateChange($event)">
        </app-meter-filter>
      </div>
    </div>
    <div class="meter-table-title">Đồng hồ <span class="meter-name">{{selectedMeter}}</span> - Ngày: {{formatDateForDisplay(selectedDate)}}</div>
    <div class="meter-table-section">
      <app-meter-table
        [meter]="selectedMeter"
        [days]="currentDays"
        [models]="currentModels">
      </app-meter-table>
    </div>
</div>
